main {
    min-width: 50%;
}

.comments-aside {
    min-width: calc(30% - 2em);
    align-self: flex-start;
}
  
main hr {
    border: solid #1F1F1F 1px;
    margin: 0 1em;
}
  
.comments-aside hr {
    border: solid #292929 1px;
    margin: 0 1em;
}

.error, .loading-text{
    text-align: center;
    flex-grow: 1;
}

@media only screen and (max-width: 900px) {
    .comments-aside {
        font-size: 0.8rem;
        min-width: calc(45% - 2em);
    }

    main {
        font-size: 0.8rem;
    }
}