.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  background-color: #121212;
}

.App .body {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1100px)  {
  .desktop {
    display: none;
  }
  .App header {
    font-size: 0.5em;
  }
}

aside {
  min-width: calc(20% - 2em);
  background-color: #1f1f1f;
  margin: 1em;
  border-radius: 8px;
  align-self: baseline;
  top: 1em;
  position: sticky;
  overflow-y: scroll;
  max-height: calc(100vh - 2em);
}

aside hr {
  border: solid #292929 1px;
  margin: 0 1em;
}

a {
  color: #8a96ff;
}

.standard-button {
  margin: 0 1em;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: #F0F0F0;
}

.standard-button:hover {
  background-color: #ADADAD;
}

.standard-button:active {
  background-color:  #6A6A6A;
}

.standard-button:disabled {
  background-color: #F0F0F0;
}

.standard-input {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
}
