.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  background-color: #121212;
}

.App .body {
  display: flex;
  justify-content: space-between;
}

aside {
  min-width: calc(20% - 2em);
  background-color: #1f1f1f;
  margin: 1em;
  border-radius: 8px;
}

main {
  min-width: 50%;
}

.comments-aside {
  min-width: calc(30% - 2em);
}

