article {
    background-color: #121212;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
}

article:hover {
    background-color: #1F1F1F;
    cursor: pointer;
}

article h3 {
    margin-top: 0;
}

.post-text-container {
    overflow-wrap: break-word;
}

.post-media-container {
    margin: 1rem 0;
}

.post-media {
    width: 100%;
}

.post-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}